<section class="content">
	<div class="col-lg-12">
		<div class="box box-primary">
			<div class="box-header with-border">
				<h3 class="box-title">Danh Sách Ứng Viên</h3>
				<div class="box-tools">
					<div block-bind="toolbar"></div>
				</div>
			</div>
<!-- 			<div class="box-body table-responsive"> -->
				<div block-bind="content" class="row" style="margin-right: 0px; margin-left: 0px;">
					<div class="col-lg-6 base-content">
						<div class="form-group">
							<label>Mã Ứng Viên </label>
							<input type="text" data-bind="value:maungvien" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>Tên Ứng Viên</label>
							<input type="text" data-bind="value:tenungvien" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>CV</label>
							<input type="text" data-bind="value:cvfile" class="form-control inputbox">
						</div>
						<!-- <div class="form-group">
							<label>Time</label>
							<input type="text" data-bind="value:time" class="form-control inputbox">
						</div>  -->
						<div class="row mt-4" >
							<div class="col-lg-3 col-md-3 col-sm-5 col-12">
								<span class="required" style="line-height: calc(1.5em + .75rem + 2px);">Time</span>
							</div>
							<div class="col-lg-3 col-md-3 col-sm-7 col-12">
								<input class="form-control form-control-line" data-bind="value:start_time">
							</div>
						</div>
						<div class="form-group">
							<label>Dob</label>
							<input type="text" data-bind="value:dob" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>Week</label>
							<input type="text" data-bind="value:week" class="form-control inputbox">
						</div>
					</div>
					<div class="col-lg-6 base-content">
						<div class="form-group">
							<label>ApplyFor</label>
							<input type="text" data-bind="value:applyfor" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>Stage</label>
							<input type="text" data-bind="value:stage" class="form-control inputbox">
						</div> 
						<div class="form-group">
							<label>HRNote</label>
							<input type="text" data-bind="value:hrnote" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>Vị Trí Ứng Tuyển</label>
							<input type="text" data-bind="value:pool" class="form-control inputbox">
						</div> 
						<div class="form-group">
							<label>Care</label>
							<input type="text" data-bind="value:whocare" class="form-control inputbox">
						</div>
						<div class="form-group">
							<label>Source</label>
							<input type="text" data-bind="value:source" class="form-control inputbox">
						</div>
						</div>
				</div>
			</div>
			<hr>
		</div>
	</div>
</section>
 